<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/css/error-page.css">
  <title>404 - Page Not Found</title>
  
</head>
<body>
  <div class="container">
    <h1 class="error-code">404</h1>
    <p class="error-message">Oops! The page you are looking for doesn't exist.</p>
    <a href="/admin/dashboard" class="home-button">Go to Home Page</a>
  </div>
</body>
</html>
